<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>
<div class="container">
<h3>These pets are looking for a home</h3>
<a [routerLink]="['/pets/new']" ng-href="/pets">Add a pet to the shelter</a>
<table class="table table-striped">
  <thead>

    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets">
      <td>{{pet.name}}</td>
      <td>{{pet.type}}</td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="goDetails(pet._id)">Details</button>
        <button style="margin-left:15px" type="button" class="btn btn-secondary" (click)="goEdit(pet._id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
</div>